{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
    <img src="{{ image }}">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <select id="show_feature" name="selected_feature">
            {% for feature in features %}
                <option value="{{ feature }}">{{ feature }}</option>
            {% endfor %}
        </select>
        <button type="submit" name="show" id="show">Show</button>
        <h3>Choose PC to split on</h3>
        <select id="pc" name="pc">
            <option value="principal component 1">Principal Component 1</option>
            <option value="principal component 2">Principal Component 2</option>
        </select>
        <br>
        <h3>Enter threshold value</h3>
        <input type="text" name="threshold" id="threshold">
        <br>
        <button type="submit" name="submit" id="submit">Submit</button>
    </form>
    {% endblock content %}
</body>
</html>