{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>GEO Search</title>
    {% endblock title %}
</head>

<body>
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Enter GEO Accession Code</h3>
        <input type="text" name="textfield">
        </br>
        <h3>Upload Gene Count File</h3>
        <input type="file" name="document">
        </br>
        </br>
        <button type="submit">Submit</button>
    </form>
{% endblock content %}
</body>

</html>